@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family:coconutz ;
  src: url(/fonts/coconutz/coconutz.otf);
}
.coconutz {
  font-family: coconutz;
}
@font-face {
  font-family: satoshi-regular;
  src: url(/fonts/satoshi/Satoshi-Regular.otf);
}
.s-regular {
  font-family: satoshi-regular;
}
@font-face {
  font-family: satoshi-medium;
  src: url(/fonts/satoshi/Satoshi-Medium.otf);
}
.s-medium {
  font-family: satoshi-medium;
}
@font-face {
  font-family: s-bold;
  src: url(/fonts/satoshi/Satoshi-Bold.otf);
}
.s-bold {
  font-family: s-bold;
}
@font-face {
  font-family: satoshi-black;
  src: url(/fonts/satoshi/Satoshi-Black.otf);
}
.s-black {
  font-family: satoshi-black;
}
@font-face {
  font-family: urbanist-bold-italic;
  src: url(/fonts/Urbanist-master/Urbanist-BoldItalic.otf);
}
.u-bold-italic {
  font-family: urbanist-bold-italic;
}

@font-face {
  font-family: u-regular;
  src: url(/fonts/Urbanist-master/Urbanist-Regular.otf);
}
.u-regular {
  font-family: u-regular;
}
@font-face {
  font-family: u-semibold;
  src: url(/fonts/Urbanist-master/Urbanist-SemiBold.otf);
}
.u-semibold {
  font-family: u-semibold;
}
.s-border{
  background: url(/images/card-bg.png)no-repeat;
  background-size: 100% 100%;
  background-position: top center;
}

.believe {
  background: url(/images/believe-bg.png)no-repeat;
  background-size: 100% 100%;
  background-position: bottom center;
}


@media screen and (max-width:600px) {
 .believe {
  background: url(/images/believe-bg.png)no-repeat;
  background-size: 100% 40%;
  background-position: bottom center;
} 
}